@media screen and (min-width: 540px)
{   /* .container
    {
        display: inline;
        width: 100%;

    }*/

    .col-sm
    {
        margin-left: 2px;
        margin-right: 2px;       
     
    }
}