

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .img-responsive
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 200px;
  }
  .navbar
  {
    z-index: 1;
  }

 #navbarNavDarkDropdown, .container-fluid
  {
    z-index: -1;

  }

  .btn
  {
    width: 100%;
    
  }

  .dropdown li
  {
    
    text-align: center;
  }








  .col-sm
  {
      border: 2px solid #e0e0e0;
      margin-top: 5px;
      margin-bottom: 5px;
      
  }
  .container
  {
      width: 98%;
  }


  .col-sm a, .col-sm a:visited
  {
    font-size: 1.2em;
    color: black;
  }

  .col-sm a:hover, .col-sm a:active
  {
    color: rgb(195, 62, 62);
  }

  h3
  {
    margin-top: 17px;
    margin-bottom: 28px;
    font-weight: bold;
    border-top: 10px double #ff2100;
    border-bottom: 10px double #ff2100;
    padding: 5px;
    width: 80%;
  }


footer
  {
    color: white;
    background-color: rgb(46, 46, 46);
    text-align: center;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
  }
